.span9.indent2
  %canvas{:id => "TimeChart", :width => "5", :height => "2"}

%script{:type=>"text/javascript"}
  NProgress.inc();

%script{:type=>"text/javascript"}
  var ctx = document.getElementById("TimeChart"); 
  var TimeData = {
  labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
  datasets: [
  {
  label: "# of reports per month",
  fill: false,
  lineTension: 0.3,
  backgroundColor: "rgba(75,192,192,0.4)",
  borderColor: "rgba(75,192,192,1)",
  borderCapStyle: 'butt',
  borderDash: [],
  borderDashOffset: 0.0,
  borderJoinStyle: 'miter',
  pointBorderColor: "rgba(75,192,192,1)",
  pointBackgroundColor: "#fff",
  pointBorderWidth: 1,
  pointHoverRadius: 5,
  pointHoverBackgroundColor: "rgba(75,192,192,1)",
  pointHoverBorderColor: "rgba(220,220,220,1)",
  pointHoverBorderWidth: 2,
  pointRadius: 1,
  pointHitRadius: 10,
  data: [#{@jan}, #{@feb}, #{@mar}, #{@apr}, #{@may}, #{@jun}, #{@jul}, #{@aug}, #{@sep}, #{@oct}, #{@nov}, #{@dec}],
  spanGaps: false,
  }
  ]
  };

  new Chart(ctx, {
  type: 'line',
  data: TimeData,
  options: {
  scales: {
  xAxes: [{
  display: true
  }]
  }
  }
  });
%script{:type=>"text/javascript"}
  NProgress.done();